 .moreImg {
    width: 20rem;
    height: 300px;
 }

 .more {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .wrap {
    display: flex;
    position: relative;
    margin-top: 10px;
 }

 .wrap i {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    font-size: 2.5rem;
    color: rgb(37, 25, 125);
 }



 .moreImg:hover {
    width: 22rem;
    height: 310px;
 }