/* ------------------------------------ */
.logo {
  width: 20rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.nav h4 {
  font-size: 30px;
  color:  #e48c08e6;
}
.icons img{
  width: 30px;
  height: 30px;
  margin: 5px
}
.icons img:hover{
  width: 40px;
  height: 40px;
}
.icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  height: 120px;
  width: inherit;
  /* box-shadow: 1px 1px 2px 1px rgb(136, 118, 95) ;
    border-radius: 10px; */
  margin-bottom: 18px;
  position: sticky; 
  top: 0;
  background-color: white;
}
.navigation {
  border: none;
  background-color: white;
  cursor: pointer;
}

h4:hover {
  font-size: 2rem;
  color: brown;
}
