.texts {
  text-align: center;
  color: black;
}

.forNumber {
  border: 1px solid rgb(201, 201, 201);
  width: 350px;
  height: 40px;
  margin: 10px;
}

.invalid {
  border: 1px solid rgb(215, 39, 39);
  width: 350px;
  height: 40px;
  margin: 10px;
  box-shadow: 1px 1px 2px rgb(255, 57, 57);
}

.send {
  padding: 10px;
  width: 200px;
  background-color: #ff9900aa;
  border: none;
  color: rgb(255, 248, 248);
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.disabledBtn {
  background-color: grey;
}

.send:hover {
  box-shadow: 1px 1px 2px black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-top: 10px;
}
.footerinst{
  width: 15px;
}
.third a{
  margin-top: 5px;
  text-decoration: none;
  font-size: large;
  color: rgb(1, 26, 49);
}
 p{
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}